/* Utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
    font-family: Montserrat;
}

img{
    width: 100%;
    height: auto;
  }
/* end Utility */


/* Structural */


/* <!-- Upper_head --> */
#upper_head{
    width: 150px;
    height: 60px;
}
/* <!-- end Upper_head --> */

/* <!-- Navbar --> */
nav{
    padding-top: 25px;
    height: 70px;
}

a{
    text-decoration: none;
    font-size: 12px;
    padding-right: 5px;
    color: #9e9e9e;
}
/* <!-- end Navbar --> */

/* Main_head */
.main_head{
    height: 400px;
    border-radius: 10px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
}

#main_header{
    font-size: 1.4vw;
    padding: 250px 10px 0px 30px;
    width: 60%;
    color: #fdfdfd;
}

.main_img{
    filter: brightness(80%);
    border-radius: 10px;
    width: 100%;
    height: 170px;  
}
/* end Main_head */

/* Main title */
.main_title{
    height: 120px;
    padding-top: 30px;
}

h1{
    font-family: sans-serif;
    padding-bottom: 3px;
 }
/* end Main title */

/* <!-- Body_main  --> */
.article{
    float: left;
    border-radius: 10px;
    color:#9e9e9e;
}

.side_article{
    width: 20%;
}

.central_article{
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
}

.article_title{
    color:#292929;
    padding: 15px 0px 15px 0px;
}

.article_txt{
    color: #9e9e9e;
}
/* <!-- end Body_main  --> */

/* <!-- Footer --> */
footer{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
    color: #636363;
}

footer span{
    color: #df4747;
    font-size: 15px;
}
/* <!-- end Footer --> */

/* end Structural */
