/* Utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
    font-family: Montserrat;
}

.main_contain{
}
/* end Utility */


/* Structural */


/* <!-- Upper_head --> */
#upper_head{
    width: 150px;
    height: 60px;
}
/* <!-- end Upper_head --> */

/* <!-- Navbar --> */
nav{
    padding-top: 25px;
    height: 70px;
}

a{
    text-decoration: none;
    font-size: 12px;
    padding-right: 5px;
    color: #9e9e9e;
}
/* <!-- end Navbar --> */

/* Main_head */
.main_head{
    height: 400px;
    border-radius: 10px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
}

#main_header{
    padding: 250px 10px 0px 30px;
    height: 40px;
    width: 60%;
    color: #ffffff;
}
/* end Main_head */

/* Main title */
.main_title{
    height: 120px;
    padding-top: 30px;
}
/* end Main title */

/* <!-- Body_main  --> */
.article{
    float: left;
    border-radius: 10px;
}

.side_article{
    height: 400px;
    width: 25%;
    background-color: darkcyan;
}

.central_article{
    width: 50%;
    height: 400px;
    background-color: slategray;
}
/* <!-- end Body_main  --> */

/* <!-- Footer --> */
footer{
    height: 90px;
    background-color: palevioletred;
}
/* <!-- end Footer --> */


/* end Structural */

img{
    width: 100%;
    height: auto;
  }

  h1{
      font-family: sans-serif;
      padding-bottom: 2px;
  }
  
  h4{
      color:#9e9e9e;
  }
