/* Utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
    font-family: Montserrat;
    color: #9e9e9e;
}

.main_contain{
    background-color: beige;
}
/* end Utility */


/* Structural */


/* <!-- Upper_head --> */
#upper_head{
    width: 150px;
    height: 60px;
}
/* <!-- end Upper_head --> */

/* <!-- Navbar --> */
nav{
    padding-top: 25px;
    height: 70px;
}

a{
    text-decoration: none;
    font-size: 12px;
    padding-right: 5px;
    color: #9e9e9e;
}
/* <!-- end Navbar --> */

/* Main_head */
#main_head{
    height: 320px;
    background-color: burlywood;
    border-radius: 10px;
}

.main_title{
    height: 90px;
    background-color: cadetblue;
}
/* end Main_head */

/* <!-- Body_main  --> */
.article{
    float: left;
    border-radius: 10px;
}

.side_article{
    height: 400px;
    width: 25%;
    background-color: darkcyan;
}

.central_article{
    width: 50%;
    height: 400px;
    background-color: slategray;
}
/* <!-- end Body_main  --> */

/* <!-- Footer --> */
footer{
    height: 90px;
    background-color: palevioletred;
}
/* <!-- end Footer --> */


/* end Structural */

img {
    width: 100%;
    height: auto;
  }